fazfast.asset filter=lfs diff=lfs merge=lfs -text
fzsOPt.asset filter=lfs diff=lfs merge=lfs -text
artifactDB filter=lfs diff=lfs merge=lfs -text
MapPanelDescFont filter=lfs diff=lfs merge=lfs -text
SDF.asset filter=lfs diff=lfs merge=lfs -text
MapPanelDescFontSDF.asset filter=lfs diff=lfs merge=lfs -text
MapPanelFontSDF.asset filter=lfs diff=lfs merge=lfs -text
resources.assets.resS filter=lfs diff=lfs merge=lfs -text
MyProject/Assets/Resources/Art/Font filter=lfs diff=lfs merge=lfs -text
MyProject/Assets/Resources/Art/Font/* filter=lfs diff=lfs merge=lfs -text
MyProject/Assets/Resources/Art/Font/** filter=lfs diff=lfs merge=lfs -text
